.container {
	background: #80808017;
	max-width: 100%;
	padding: 60px 15px;
}

.content {
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}

.header {
	border-bottom: 3px solid #80808038;
	color: #134213;
	margin: 0 auto;
	padding-bottom: 15px;
	width: 300px;
}

.paragraphDescription {
	color: #808080e3;
	font-style: italic;
	line-height: 30px;
}
